---
import type { GetStaticPaths } from "astro";
import { render, getEntry } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import PostTitle from "@/components/post/PostTitle.astro";
import PostMetadata from "@/components/post/PostMetadata.astro";
import PostDescription from "@/components/post/PostDescription.astro";
import PostCard from "@/components/PostCard.astro";

import { getSortedPosts } from "@/lib/content-util";

export const getStaticPaths = (async () => {
  const posts = await getSortedPosts();
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { title, description, published, series, tags } = post.data;
const { Content, headings } = await render(post);
const previousPost =
  post.data.previousPostSlug &&
  (await getEntry("post", post.data.previousPostSlug));

const nextPost =
  post.data.nextPostSlug && (await getEntry("post", post.data.nextPostSlug));
---

<Layout>
  <div
    class="onload-animation card flex flex-col p-6"
    style="--content-delay: 50ms"
  >
    <PostTitle title={title} />
    <PostDescription description={description} />
    <div class="flex items-center gap-2">
      <PostMetadata published={published} series={series} tags={tags} />
    </div>
    <div
      class="relative py-4 before:absolute before:w-full before:border-t before:border-dashed"
    >
    </div>
    <article class="prose">
      <Content />
    </article>
  </div>
  <div class="grid basis-12 grid-cols-[1fr_1fr] gap-2">
    {previousPost && <PostCard post={previousPost} />}
  </div>
</Layout>
