---
import { Icon } from "astro-icon/components";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PageSection from "@/layouts/PageSection.astro";

import PostList from "@/components/ui/post/PostList.astro";
import PostItem from "@/components/ui/post/PostItem.astro";
import Pagination from "@/components/ui/Pagination.astro";
import Decorator from "@/components/common/Decorator.astro";

import Author from "@/components/ui/Author.astro";
import IndexList from "@/components/ui/index/IndexList.astro";
import CategoryItem from "@/components/ui/index/CategoryItem.astro";
import TagItem from "@/components/ui/index/TagItem.astro";

import { APPEARANCE } from "@/consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: APPEARANCE.postPerPageCount });
}) satisfies GetStaticPaths;

const categories = await getCollection(
  "postIndex",
  (index) => index.data.type === "categories",
);
const tags = await getCollection(
  "postIndex",
  (index) => index.data.type === "tags",
);
const { page } = Astro.props;
---

<MainLayout>
  <PageSection>
    <div class="flex flex-col gap-2" slot="left-aside">
      <Author
        class="card bg-surface/30 backdrop-blur-xs"
        avatarUrl="/src/assets/demo-profile.jpg"
      />

      <div class="card flex flex-col px-4 py-2">
        <Decorator class="text-foreground mb-1">
          <span>Categories</span>
        </Decorator>
        <IndexList items={categories} renderer={CategoryItem} />
      </div>
      <div class="card flex flex-col px-4 py-2">
        <Decorator class="text-foreground mb-1">
          <span>Tags</span>
        </Decorator>
        <div class="flex flex-wrap gap-2">
          <IndexList items={tags} renderer={TagItem} />
        </div>
      </div>
    </div>

    <PostList
      class:list={["flex flex-col gap-2"]}
      items={page.data}
      renderer={PostItem}
    />
    <Pagination
      class:list={[
        "text-foreground mx-auto mt-2 flex w-fit items-center gap-0.5",
      ]}
      current={page.currentPage}
      prev={page.url.prev}
      next={page.url.next}
      first={page.url.first}
      last={page.url.last}
    />
  </PageSection>
</MainLayout>
