---
import { Icon } from "astro-icon/components";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PageSection from "@/layouts/PageSection.astro";

import PostList from "@/components/ui/post/PostList.astro";
import PostItem from "@/components/ui/post/PostItem.astro";
import Pagination from "@/components/ui/Pagination.astro";
import Decorator from "@/components/common/Decorator.astro";
import Breadcrumbs from "@/components/ui/Breadcrumbs.astro";
import Breadcrumb from "@/components/ui/Breadcrumb.astro";

import { APPEARANCE } from "@/consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: APPEARANCE.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const contentWidth = APPEARANCE.contentWidth;
---

<MainLayout contentWidth={contentWidth} class:list={["flex flex-col gap-6"]}>
  <PageSection class:list={[""]} contentWidth={contentWidth}>
    <Fragment slot="header">
      <Decorator class="text-foreground">
        <span class="bg-accent-foreground mr-2 h-4 w-0.5" slot="deco"></span>
        <Breadcrumbs
          class:list={["flex items-center"]}
          url={Astro.url.pathname}
          renderer={Breadcrumb}
        >
          <Icon name="lucide:chevron-right" slot="separator" />
        </Breadcrumbs>
      </Decorator>
      <Pagination
        class:list={["text-foreground flex w-fit items-center gap-0.5"]}
        current={page.currentPage}
        prev={page.url.prev}
        next={page.url.next}
        compact
      />
    </Fragment>
    <PostList
      class:list={["flex flex-col gap-2"]}
      items={page.data}
      renderer={PostItem}
    />
    <Pagination
      class:list={[
        "text-foreground mx-auto mt-2 flex w-fit items-center gap-0.5",
      ]}
      current={page.currentPage}
      prev={page.url.prev}
      next={page.url.next}
      first={page.url.first}
      last={page.url.last}
    />
  </PageSection>
</MainLayout>
