---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PostList from "@/components/post/PostList.astro";
import Pagination from "@/components/ui/Pagination.astro";

import { siteConfig, themeConfig } from "@/consts";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: themeConfig.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const posts = page.data;
const seoTitle = page.currentPage > 1 ? `Blog Page ${page.currentPage}` : "Blog";
const seoDescription =
  page.currentPage > 1
    ? `${siteConfig.title} blog archive, page ${page.currentPage}.`
    : `${siteConfig.title} blog archive.`;
---

<MainLayout
  seo={{
    title: seoTitle,
    description: seoDescription,
    type: "website",
  }}
>
  <div class="relative space-y-2">
    <PostList posts={posts} />
    <div class="anim-onload flex items-center justify-center gap-0.5">
      <Pagination
        style="--initialDelay: 250ms"
        current={page.currentPage}
        prev={page.url.prev}
        next={page.url.next}
        first={page.url.first}
        last={page.url.last}
      />
    </div>
  </div>
</MainLayout>
