---
import type { GetStaticPaths } from "astro";

import Layout from "@/layouts/Layout.astro";
import Link from "@/components/atom/common/Link.astro";
import Published from "@/components/atom/post/Published.astro";
import Tags from "@/components/atom/post/Tags.astro";

import { SITE, APPEARANCE } from "@/consts/site";
import { getCollection } from "astro:content";
import PostPagination from "@/components/ui/PostPagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: APPEARANCE.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout>
  <ul class="flex flex-col gap-2">
    {
      page.data.map((post) => (
        <li>
          <Link
            href={`/blog/${post.id}`}
            class="card flex flex-col p-4 transition"
          >
            <h1 class="text-foreground mb-1 text-lg font-medium transition">
              {post.data.title}
            </h1>
            <p class="text-foreground/70 mb-2 text-sm">
              {post.data.description}
            </p>
            <div class="text-foreground/60 mb-2 flex gap-2 text-xs">
              <p>{SITE.author}</p>
              <Published published={post.data.published} />
            </div>
            <Tags list={post.data.tags} />
          </Link>
        </li>
      ))
    }
  </ul>
  <PostPagination page={page} />
  <div class="flex flex-col gap-4" slot="side-right">
    <div class="card bg-surface flex flex-col p-2">
      <span class="mb-2">Tags</span>
      <Tags list={["asd", "bbb", "zxczxc", "asd", "123a", "adfzfz"]} />
    </div>
    <div class="card bg-surface flex flex-col p-2">
      <span class="mb-2">Series</span>
      <Tags list={["series1", "series2"]} />
    </div>
  </div>
</Layout>
