---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PageSection from "@/layouts/PageSection.astro";

import PostList from "@/components/ui/post/PostList.astro";
import PostItem from "@/components/ui/post/PostItem.astro";
import Pagination from "@/components/ui/Pagination.astro";

import { APPEARANCE } from "@/consts";
import DefaultLeftAside from "@/components/ui/DefaultLeftAside.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const posts = await getCollection("posts");
  return paginate(posts, { pageSize: APPEARANCE.postPerPageCount });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout>
  <PageSection>
    <DefaultLeftAside slot="left-aside" />
    <div class="text-foreground flex flex-col gap-2">
      <PostList
        class:list={["flex flex-col gap-2"]}
        items={page.data}
        renderer={PostItem}
      />
      <Pagination
        class:list={["flex items-center justify-center gap-0.5"]}
        current={page.currentPage}
        prev={page.url.prev}
        next={page.url.next}
        first={page.url.first}
        last={page.url.last}
      />
    </div>
  </PageSection>
</MainLayout>
