---
import type { GetStaticPaths } from "astro";
import { render, getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import Tags from "@/components/atom/post/Tags.astro";
import PostMetadata from "@/components/ui/PostMetadata.astro";
import PostNavigation from "@/components/ui/PostNavigation.astro";
import TableOfContents from "@/components/ui/TableOfContents.astro";
import { getEntry } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const {
  title,
  tags,
  series,
  newerPostRef = "#",
  olderPostRef = "#",
} = post.data;
const { Content, headings } = await render(post);

const data = await getEntry("postIndex", `series/${series}`);
console.log(data);
---

<Layout>
  <PostNavigation newerRef={newerPostRef} olderRef={olderPostRef} />
  <div class="card flex flex-col p-6">
    <header class="mb-4">
      <h1 class="text-foreground mb-2 text-3xl font-medium">{title}</h1>
      <PostMetadata post={post} />
      <Tags list={tags} />
    </header>
    <article class="prose">
      <Content />
    </article>
  </div>
  <PostNavigation newerRef={newerPostRef} olderRef={olderPostRef} />
  <div slot="side-right">
    <TableOfContents headings={headings} />
  </div>
</Layout>
