---
import type { GetStaticPaths } from "astro";
import { render, getCollection } from "astro:content";

import MainLayout from "@/layouts/MainLayout.astro";
import PageSection from "@/layouts/PageSection.astro";
import TableOfContents from "@/components/ui/post/TableOfContents.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await render(post);
const contentWidth = 50;
const asideWidth = 20;
---

<MainLayout contentWidth={contentWidth}>
  <PageSection contentWidth={contentWidth} asideWidth={asideWidth} gap={1}>
    <h1>{post.data.title}</h1>
    <p>{remarkPluginFrontmatter.minutesRead}</p>
  </PageSection>
  <PageSection contentWidth={contentWidth} asideWidth={asideWidth} gap={1}>
    <div class="prose">
      <Content />
    </div>
    <div
      class="sticky top-12 max-h-[40dvh] overflow-y-scroll mask-y-from-90% pr-3"
      slot="right-aside"
    >
      <TableOfContents headings={headings} />
    </div>
  </PageSection>
</MainLayout>
