---
import Link from "@/components/ui/Link.astro";
import DecorateText from "@/components/ui/DecorateText.astro";

import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import type { Post } from "@/lib/content-util";
import { formatDate } from "@/lib/utils";

interface Props extends HTMLAttributes<"div"> {
  post: Post;
}

const { post, class: className, ...props }: Props = Astro.props;
---

<div class:list={[className, "card flex flex-col gap-1"]} {...props}>
  <Link href={`/posts/${post.data.slug}/`}>
    <DecorateText
      class="group text-xl capitalize transition hover:text-[var(--primary)]"
    >
      {post.data.title}
      <Icon
        name="lucide:chevron-right"
        class="translate-x-0 opacity-0 transition group-hover:translate-x-1 group-hover:opacity-100"
      />
    </DecorateText>
  </Link>
  <div class:list={[className, "flex items-center gap-2"]}>
    <DecorateText icon="lucide:calendar">
      {formatDate(post.data.published)}
    </DecorateText>

    {post.data.series && (
    <DecorateText icon="lucide:book-marked">
      {post.data.series}
    </DecorateText>

    )}
    <DecorateText icon="lucide:tags">
      <div class="flex gap-2 flex-nowrap">
        {post.data.category}
        {(post.data.tags.map((tag,i) => (
        <div class:list={[{"hidden": i==0}, "mx-1.5 text-sm"]}>/</div>
        <a href={""}>{tag.trim()}</a>
        )))}
      </div>
    </DecorateText>
  </div>
</div>
