---
import { Icon } from "astro-icon/components";

import type { Post, StyledProps } from "@/types";

import { render } from "astro:content";
import MetadataIndicator from "./MetadataIndicator.astro";
import Img from "../common/Img.astro";
import { themeConfig } from "@/consts";

interface Props extends StyledProps {
  post: Post;
}

const { thumbnailFallbackImgUrl } = themeConfig;
const { post, class: className = "", style: styleAttr = "" } = Astro.props;
const { remarkPluginFrontmatter } = await render(post);
const { title, description, published, categories, image } = post.data;
const readtime = remarkPluginFrontmatter.readTime;
---

<div
  class:list={[
    className,
    "card bg-surface/70 text-foreground hover:bg-surface active:bg-surface/50 group flex items-center space-x-4 p-4 transition",
  ]}
  style={styleAttr}
>
  <Img
    src={image?.src ?? thumbnailFallbackImgUrl}
    class="rounded-surface aspect-video w-60 shrink-0 overflow-hidden"
  />
  <div class="flex-1 self-start">
    <h1 class="group-hover:text-accent line-clamp-1 text-lg font-medium">
      {title}
    </h1>
    <p class="text-foreground/70 mb-2 line-clamp-2 text-sm">{description}</p>
    <MetadataIndicator published={published} category={categories} />
  </div>
  <Icon
    name="lucide:chevron-right"
    class="group-hover:text-accent shrink-0 transition group-hover:translate-x-2"
  />
</div>
