---
import { Icon } from "astro-icon/components";

import type { Post, StyledProps } from "@/types";

import MetadataIndicator from "./MetadataIndicator.astro";
import Img from "../common/Img.astro";
import { themeConfig } from "@/consts";

interface Props extends StyledProps {
  post: Post;
}

const { thumbnailFallbackImgUrl } = themeConfig;
const { post, class: className = "", style: styleAttr = "" } = Astro.props;
const { title, description, published, categories, image, minutes } = post.data;
---

<div
  class:list={[
    className,
    "card bg-surface/70 text-foreground hover:bg-surface active:bg-surface/50 group grid items-center gap-2 p-4 transition sm:grid-cols-[40%_1fr_auto]",
  ]}
  style={styleAttr}
>
  <Img
    src={image ?? thumbnailFallbackImgUrl}
    class="rounded-surface hidden aspect-video w-full overflow-hidden sm:block"
  />
  <div class="self-start px-2">
    <h1 class="group-hover:text-accent line-clamp-1 text-lg font-medium">
      {title}
    </h1>
    <p class="text-foreground/70 mb-2 line-clamp-2 text-sm">{description}</p>
    <MetadataIndicator
      published={published}
      category={categories}
      readTimeMinute={minutes}
    />
  </div>
  <Icon
    name="lucide:chevron-right"
    class="group-hover:text-accent hidden shrink-0 transition group-hover:translate-x-2 md:block"
  />
</div>
