---
import type { Post } from "@/lib/content-util";
import PostTitle from "@/components/post/PostTitle.astro";
import PostDescription from "@/components/post/PostDescription.astro";
import PostMetadata from "@/components/post/PostMetadata.astro";
interface Props {
  class?: string;
  post: Post;
  dense?: boolean;
}

const { class: className, post, dense = false }: Props = Astro.props;
const { published, series, tags } = post.data;
---

<div class:list={[className, "flex flex-col gap-2"]}>
  <PostTitle href={`/posts/${post.data.slug}`} title={post.data.title} />
  <PostDescription description={post.data.description} />
  {
    !dense && (
      <div class="flex items-center gap-3">
        <PostMetadata published={published} series={series} tags={tags} />
      </div>
    )
  }
</div>
