---
import Base from "@/layouts/Base.astro";
import Navigation from "@/components/ui/Navigation.astro";
import Banner from "@/components/ui/Banner.astro";
import Footer from "@/components/ui/Footer.astro";

import Author from "@/components/ui/Author.astro";
import GithubCalendar from "@/components/ui/GithubCalendar.svelte";

import { APPEARANCE } from "@/consts";
import { toInlineStyle, toStyleVars } from "@/lib/utils";
import type { StyledProps } from "@/types";
import IndexList from "@/components/ui/index/IndexList.astro";
import CategoryItem from "@/components/ui/index/CategoryItem.astro";
import TagItem from "@/components/ui/index/TagItem.astro";
import Decorator from "@/components/common/Decorator.astro";
import { Icon } from "astro-icon/components";

interface Props extends StyledProps {}

const { class: className = "", style: styleAttr = "" } = Astro.props;

const asideWidth = 12;
const contentWidth = 35;
const bannerHeight = APPEARANCE.bannerHeight;
const bannerOverlap = APPEARANCE.bannerOverlap;
---

<Base>
  <!-- Start Slots -->
  <Banner
    class:list={[
      "animate-reveal-center mask-b-from-30% hover:mask-b-from-100%",
    ]}
    bannerHeight={bannerHeight}
    bannerUrl="/src/assets/demo-banner.jpg"
    slot="background"
  />
  <div slot="header" class="bg-surface/80 backdrop-blur-sm">
    <Navigation
      class="mx-auto flex min-h-10 items-center justify-between gap-4 px-2 py-1"
      contentWidth={contentWidth}
    />
  </div>
  <Footer
    class="text-foreground mx-auto py-0.5 text-center text-xs"
    contentWidth={contentWidth}
    slot="footer"
  />
  <!-- End Slots -->

  <div
    class:list={[
      "mx-auto grid gap-2",
      "max-w-[var(--pageWidth)]",
      "grid-cols-[var(--asideWidth)_1fr_var(--asideWidth)]",
      "translate-y-[calc(var(--bannerHeight)_-_var(--bannerOverlap))]",
    ]}
    style={toInlineStyle([
      styleAttr,
      toStyleVars({
        pageWidth: contentWidth + asideWidth * 2,
        asideWidth,
        bannerHeight,
        bannerOverlap,
      }),
    ])}
  >
    <aside class="relative">
      <div
        class:list={[
          "card bg-surface flex flex-col gap-2 p-2",
          "min-h-[var(--height)]",
        ]}
        style={toStyleVars({ height: contentWidth * 0.14 })}
      >
        <Decorator class="text-foreground text-sm">
          <Icon name="lucide:calendar" slot="deco" />
          <span>My Github calendar!</span>
        </Decorator>
        <GithubCalendar
          class:list={["bg-surface my-auto overflow-hidden rounded-sm"]}
          client:only="svelte"
        />
      </div>
    </aside>
    <section class="flex flex-col gap-8">
      <Author
        class="card bg-surface/30 flex gap-2 p-2 backdrop-blur-xs"
        avatarUrl="/src/assets/demo-profile.jpg"
      />
      <div class:list={[className, "flex-1"]} style={styleAttr}>
        <slot />
      </div>
    </section>
    <aside class="relative">
      <IndexList
        class="sticky top-0"
        type="categories"
        renderer={CategoryItem}
      />
      <IndexList
        class="sticky top-0 flex flex-wrap gap-1"
        type="tags"
        renderer={TagItem}
      />
    </aside>
  </div>
</Base>
