---
import { Icon } from "astro-icon/components";

import type { StyledProps } from "@/types";

import Link from "@/components/common/Link.astro";

import { splitUrl } from "@/lib/utils";

export interface Breadcrumb {
  href: string;

  name: string;
  isLast: boolean;
}

interface Props extends StyledProps {}

const { class: className, style: styleAttr } = Astro.props;
const url = Astro.url.pathname;

let cumulative = "";

const parts = splitUrl(url, { includeRoot: false });
const crumbs = parts.map((path, i) => {
  cumulative += `/${path}`;
  return {
    href: cumulative,
    name: decodeURI(path),
    isLast: i + 1 == parts.length,
  };
});
---

<ul class:list={[className, "flex items-center gap-2"]} style={styleAttr}>
  {
    crumbs.map((crumb) => (
      <Fragment>
        <li class="flex items-center capitalize">
          {crumb.isLast ? (
            <span>{crumb.name}</span>
          ) : (
            <Link
              href={crumb.href}
              class="text-foreground/70 hover:text-foreground transition-colors"
            >
              {crumb.name}
            </Link>
          )}
        </li>
        {!crumb.isLast && <Icon name="lucide:chevron-right" />}
      </Fragment>
    ))
  }
</ul>
