---
import type { StyledProps } from "@/types";

import Link from "@/components/common/Link.astro";
import { Icon } from "astro-icon/components";

interface Props extends StyledProps {
  current: number;
  prev?: string | undefined;
  next?: string | undefined;
  first?: string | undefined;
  last?: string | undefined;
  compact?: boolean;
}

const {
  class: className,
  style: styleAttr,
  current,
  prev,
  next,
  first,
  last,
  compact = false,
} = Astro.props;
---

{
  !compact && (
    <Link
      href={first}
      class:list={[className, "btn icon", !!!first && "disabled"]}
      style={styleAttr}
      data-variant="ghost"
    >
      <Icon name="lucide:chevrons-left" />
    </Link>
  )
}
<Link
  href={prev}
  class:list={[className, "btn icon", !!!prev && "disabled"]}
  style={styleAttr}
  data-variant="ghost"
>
  <Icon name="lucide:chevron-left" />
</Link>
{
  !compact && (
    <span class="text-foreground px-2 text-sm font-medium">{current}</span>
  )
}
<Link
  href={next}
  class:list={[className, "btn icon", !!!next && "disabled"]}
  style={styleAttr}
  data-variant="ghost"
>
  <Icon name="lucide:chevron-right" />
</Link>
{
  !compact && (
    <Link
      href={last}
      class:list={[className, "btn icon", !!!last && "disabled"]}
      style={styleAttr}
      data-variant="ghost"
    >
      <Icon name="lucide:chevrons-right" />
    </Link>
  )
}
