---
import type { StyledProps } from "@/types";

import Img from "@/components/common/Img.astro";
import ExternalSocials from "@/components/ui/ExternalSocials.astro";

import { themeConfig, siteConfig } from "@/consts";

interface Props extends StyledProps {}

const { avatarImgUrl } = themeConfig;
const { title, description, authorName, authorComment } = siteConfig;

const { class: className = "", style: styleAttr = "" } = Astro.props;
---

<div class:list={[className, "card space-y-2 p-2"]} style={styleAttr}>
  <div class="flex flex-wrap items-center gap-1 px-2">
    <h1 class="font-bold">{title}</h1>
    <p class="text-foreground/50 text-sm leading-2">{description}</p>
  </div>
  <div class="flex gap-2">
    <div class="items-center space-y-2">
      <Img
        src={avatarImgUrl}
        alt="profile"
        class="rounded-surface border-border/50 aspect-square size-24 overflow-hidden border"
      />
    </div>
    <div class="flex flex-col">
      <h1 class="font-bold">{authorName}</h1>
      <p class="text-foreground/50 flex-1 text-sm">{authorComment}</p>
      <ExternalSocials class="mt-auto" />
    </div>
  </div>
</div>
